$orange: #FF6D66;
$violetCard: #5555FE;
$violetTitle: #1E1346;
$violetSubtitle: #1e1346ba;
$textCard: #8883A1;


$phone-300px: 300px;
$phone-480px: 480px;
$tablet-600px: 600px;
$tablet-700px: 700px;
$tablet-800px: 800px;
$desktop-959px: 959px;
$desktop-1200px: 1200px;
$desktop-1440px: 1440px;