@import '../../../styles/variables.scss';

.banner {
  margin-top: -140px;
  position: relative;
  overflow: hidden;
  height: 600px;
  display: flex;

  &.top {
    img {
      object-position: center top;
    }
  }

  img {
    min-width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
  }

  .banner__text {
    position: absolute;
    width: 100%;
    top: 35%;
    text-align: center;

    &.lightTheme {
      top: 28%;

      h4 {
        color: $violetCard;
      }
    }

    h4 {
      margin: 0;
      font-size: 30px;
      line-height: 48px;
      white-space: pre-wrap;
      color: white;
      font-weight: bold;
      font-family: Comfortaa;
    }
  }
}
