@import '../../../styles/variables.scss';

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  .container-social {
    display: flex;
    justify-content: space-between;
    width: 270px;
  }
  .img {
    img {
      height: 35px;
    }
  }
}

// @media (min-width: #{$phone-300px}) and (max-width: #{$tablet-600px}) {
//   .social {
//     .container-social {
//       margin-top: -50px;
//       display: flex;
//       justify-content: center;
//     }
//   }
// }

// @media (min-width: #{$phone-300px}) and (max-width: #{$phone-480px}) {
//     .social{
//         .container-social {
//             margin-top: 700px;
//             display: flex;
//             justify-content: center;
//         }
//     }
//   }
