@import '../../../styles/variables.scss';

.social {
    .container-social {
        margin-top: -30px;
        display: flex;
        justify-content: center;
    }
    .box-social {
        width: 200px;
        margin: 10px;
        text-align: center;
    }
    .meetup img {
        width: 70px;
    }
    .discord img {
        width: 30px;
    }
    .twitter img {
        width: 30px;
    }
}

@media (min-width: #{$phone-300px}) and (max-width: #{$tablet-600px}) {
    .social{  
        .container-social {
            margin-top: -50px;
            display: flex;
            justify-content: center;
        }
    }
  }


// @media (min-width: #{$phone-300px}) and (max-width: #{$phone-480px}) {
//     .social{  
//         .container-social {
//             margin-top: 700px;
//             display: flex;
//             justify-content: center;
//         }
//     }
//   }
  
  