@import "../../../styles/variables.scss";

.text-categoria {
  margin-top: -20px;
  display: inline;
  font-size: 15px;
  font-family: "Comfortaa";
  font-weight: 700;
  line-height: 10px;
  margin-left: 7.93px;
}

.text-linkCard {
  color: $orange;
  font-family: "Comfortaa";
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 27px;
  margin-left: 16px;
  width: 690px;
}

.text-linkCard-2 {
  color: rgba(30, 19, 70, 0.26);
  font-family: "Comfortaa";
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 27px;
}

.container-linkCard {
  margin-top: 10px;
  min-width: 1173px;
  height: 54px;
}
