@import '../../../styles/variables.scss';


.events {
  background: white;

  &__subtitle {
    padding: 0 5%;

    h4 {
      color: $violetTitle;
      text-transform: uppercase;
      font-family: Comfortaa;
      font-size: 15px;
      line-height: 28px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 30px;

      @media (max-width: 480px) {
        margin-top: 50px;
      }
    }
  }

  &__container {
    padding-left: calc(5% - 16px);
    padding-right: calc(5% - 16px);
  }

  &__upcoming-home {
    z-index: 10;
    background: transparent;
    margin-bottom: 80px;
    width: 100%;
  }

  &__past-events {
    margin-bottom: 110px;

    &__btn {
      display: flex;
      justify-content: center;
      height: 93px;

      button {
        margin-top: 40px;
      }
    }
  }
}


.title {
  display: flex;
  text-align: center;
  font-family: 'Comfortaa';
  font-size: 30px;
  line-height: 43px;
}

.cards-events {
  .title {
    margin-top: 80px;
    color: $violetTitle;
  }
}
.slick-slider {
  position: relative;

  .slick-arrow {
    position: absolute;
    top: 40%;
    padding: 0;
    height: 50px;
    opacity: 0.7;
    cursor: pointer;
    background: transparent;
    border: none;

    &.slick-prev {
      left: -4%;
    }

    &.slick-next {
      right: -4%;
    }
  }

  .slick-list {
    overflow: hidden;

    .slick-track {
      display: flex !important;

      .slick-cloned {
        display: none;
      }
    }
  }

  .slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0;

    li {
      list-style: none;
      margin: 10px;
      border-radius: 20px;
      background-color: transparent;
      border: 1px solid grey;

      &.slick-active {
        border-color: $orange;
        background-color: $orange;
      }

      button {
        visibility: hidden;
        border-radius: 20px;
        height: 25px;
        width: 25px;
        cursor: pointer;
      }
    }
  }
}

.background-events {
  background-image: url('../../../assets/home-eth-shape.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;

  .events {
    height: 100%;
    background-color: transparent;
  }

  @media (max-width: 480px) {
    height: 1400px;

    .events {
      height: 1400px;
    }

  }
}

.center {
  display: flex;
  justify-content: center;

  .title {
    margin: 70px 0 40px 0;
  }
}

.button-events {
  margin-top: 50px;
  text-align: center;
}
