@import '../../../styles/variables.scss';

.community {
  margin-top: 140px;
  .container-community {
    padding: 60px 80px 0px 80px;
  }
}

.title-2 {
  text-align: center;
  margin-top: 26px;
  margin-bottom: 0;
  font-size: 30px;
  font-family: 'Comfortaa';
  color: $violetTitle;
  font-weight: 600;
  line-height: 43px;
  max-width: 604px;
}

.sub-title {
  display: flex;
  justify-content: center;
}

.sub-title h1 {
  margin: 0;
  color: rgba(30, 19, 70, 0.73);
  font-family: 'Comfortaa';
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

// @media (max-width: #{$desktop-959px}) {
//   .title-2 {
//     font-size: 25px;
//     padding: 2%;
//   }

//   .community {
//     .container-community {
//       padding: 10px 0% 0% 20px;
//     }
//   }
// }

// @media (min-width: #{$phone-480px}) and (max-width: #{$tablet-700px}) {
//   .title-2 {
//     font-size: 25px;
//     padding: 2%;
//   }

//   .community {
//     .container-community {
//       padding: 10px 0% 0% 20px;
//     }
//   }
// }

// @media (min-width: #{$phone-300px}) and (max-width: #{$phone-480px}) {
//   .title-2 {
//     font-size: 20px;
//     padding: 2%;
//   }
//   .community {
//     .container-community {
//       padding: 10px 0% 0% 20px;
//     }
//   }
// }

