.community {
    .container-community {
        text-align: center;
        padding: 10px 80px 0px 80px;
    }
    .box-community {
        width: 256px;
        text-align: left;
        padding: 50px;
    }
    .card-community img {
        width: 80px;
    }
    .community-text {
        .title {
            font-size: 25px;
            color: red;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }
        .text {
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }
    }
}