.button-events {
    .btn-view {
        background-color: hsl(2, 100%, 70%) !important;
        color: white;
        text-transform: capitalize !important;
        font-family: "open-sans-light" !important;
        letter-spacing: 2px;
        font-size: 18px !important;
        padding: 0 28px !important;
    }
}