@import '../../styles/variables.scss';

$break-small: 320px;
$break-medium: 0px;
$break-large: 1200px;

.main-header,
.main-header-white {
  height: 140px;
  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    padding: 0 30px;
  }
  .header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .logo {
      margin: 0 0 0 134px;
      height: 56px;
      width: auto;
    }
  }
  .text {
    height: 25px;
    width: 54px;
    font-family: Comfortaa;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 148px;
    text-align: center;
    text-decoration: none;
    &.selected {
      padding-bottom: 10px;
      border-bottom: 2px solid $violetCard;
    }
  }
}

.main-header-white {
  background-color: $background;
  .text {
    color: rgb(0, 0, 0);
  }
}

.main-header {
  background-color: #5b4e9400;
  .text {
    color: #ffffff;
  }
}

// $break-small: 320px;
// $break-large: 1200px;
// .profile-pic {
//   float: left;
//   width: 250px;
//   @media screen and (max-width: $break-small) {
//     width: 100px;
//     float: none;
//   }
//   @media screen and (min-width: $break-large) {
//     float: right;
//   }
// }
