.header-home {
    z-index: 1000;
}

.main {
        background-image: url("./../../assets/mainBackground.png");
        height: 88vh;
        background-position: 50% 50%;
        background-size: cover;
        margin-top: -140px;
    }

.gradient {
        background: white;
        background: linear-gradient(to bottom, white 0%, #f0f3ff 100%);
    }