    .main {
        background-image: url("./../../assets/mainBackground.png");
        height: 88vh;
        background-position: 50% 50%;
        background-size: cover;
    }

    .gradient {
        background: white;
        background: linear-gradient(to top, white 0%, #f0f3ff 100%);
    }