@import '../../../styles/variables.scss';

.categories {
    padding: 0px 134px 0px 134px;
  }
  

@media (max-width: #{$desktop-1200px}) {
    .categories {
      padding: 0px 90px 0px 0 90px;
      }
  }

  @media (max-width: #{$tablet-800px}) {
    .categories {
      padding: 0px 50px 0px 50px;
      }
  }

  .finish {
    height: 250px;
  }