<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <title>ETH Buenos Aires</title>
    </head>
    <body>
        <div>
            <div class="page">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 offset-m3">
                            <p class="text-center error-no">
                                <span>ERROR 404</span>
                            </p>
                        </div>
                        <div class="col s12 m6 offset-m3 margin-top-50">
                            <p class="text-center error-text">
                                No podemos encontrar lo que estás buscando.<br />
                                Puede que el enlace esté dañado o haya expirado. ¡Lo sentimos!
                            </p>
                        </div>
                        <div class="col s12 m6 offset-m3 margin-top-50">
                            <p class="text-center error-text">
                                <a href="/">Inicio</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
