@import '../../styles/variables.scss';

.events {
  &__subtitle {
    padding: 0 5%;
    h4 {
      color: $violetTitle;
      text-transform: uppercase;
      font-family: Comfortaa;
      font-size: 15px;
      line-height: 28px;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  &__past-events {
    &__container {
      padding-left: calc(5% - 16px);
      padding-right: calc(5% - 16px);
    }
  }
}
