@import '../../styles/variables.scss';

.events {
  background: white;

  &__subtitle {
    padding: 0 5%;

    h4 {
      color: $violetTitle;
      text-transform: uppercase;
      font-family: Comfortaa;
      font-size: 15px;
      line-height: 28px;
      font-weight: bold;
      letter-spacing: 2px;
      margin: 0 0 30px 0;
    }
  }

  &__container {
    padding-left: calc(5% - 16px);
    padding-right: calc(5% - 16px);
  }

  &__upcoming-events {
    margin-top: -200px;
    position: relative;
    z-index: 10;
    background: transparent;
    margin-bottom: 80px;
  }

  &__past-events {
    margin-bottom: 110px;
  }
}
