@import '../../../styles/variables.scss';

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;

  @media (max-width: 900px) {
    margin-top: 80px;
  }
  .container-partners {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    flex-wrap: wrap;
    margin-top: 40px;
    @media (max-width: 1200px) {
      width: 90%;
      padding: 0;
    }
    .partners-logo {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 150px;
      height: 60px;
      margin: 20px 0;
      img {
        max-height: 100%;
        width: auto;
      }
    }
  }
}

.sub-title p {
  margin: 0;
  color: rgba(30, 19, 70, 0.73);
  font-family: 'Comfortaa';
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 80px;
  margin-bottom: 40px;
}
.footer p {
  width: 224px;
  color: $violetTitle;
  font-family: 'PT Mono';
  font-size: 13px;
  letter-spacing: 0.01px;
  line-height: 26px;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}
